mat-expansion-panel {
  margin: 10px 0 !important;

  .error-message {
    font-family: Consolas, "Courier New", sans-serif;
    font-size: small;

    .reason {
      white-space: pre;
      overflow-x: auto;
    }
  }
}
