<button mat-fab class="hop-fab-button" (click)="openDialog()">
  <mat-icon>add</mat-icon>
</button>

<table mat-table [dataSource]="dataSource" matSort matSortActive="description" matSortDirection="asc">

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Beschreibung</th>
    <td mat-cell *matCellDef="let element">{{element.description}}</td>
  </ng-container>

  <ng-container matColumnDef="context">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Kontext</th>
    <td mat-cell *matCellDef="let element">{{element.context}}</td>
  </ng-container>

  <ng-container matColumnDef="penalty">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Strafe</th>
    <td mat-cell *matCellDef="let element">
      @if (element.penaltyValue && element.penaltyUnit) {
        <hop-penalty-with-unit [penalty]="element.penaltyValue" [unit]="element.penaltyUnit" [multiplicatorUnit]="element.multiplicatorUnit"></hop-penalty-with-unit>
      } @else {
        <span>-</span>
      }
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="openDialog(element)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="openConfirmation(element.id, element.description)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
