$line-height: 40px;

.event-table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  white-space: nowrap;

  tr {
    height: $line-height;

    &:nth-child(even) {
      background-color: #eff2e5;
    }

    td {
      // Checkbox and player's name
      &:first-child {
        width: 100px;
        padding-left: 7px;
        vertical-align: top;
        line-height: $line-height;
        padding-top: 8px;
      }

      // add-Button
      &:nth-child(2) {
        width: 70px;
        min-width: 70px;
        vertical-align: top;
        line-height: $line-height;
        text-align: center;
        padding-top: 8px;
      }

      // events with penalties
      &:last-child {
        padding-right: 5px;
        vertical-align: top;
        line-height: $line-height;
        padding-top: 8px;
      }

      &.empty {
        width: 0;
        min-width: 0;
      }

      .event-row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left-col {
          display: flex;
          align-items: center;

          span {
            font-size: smaller;
          }
        }

        .right-col {
          text-align: right;
          margin-left: 5px;
        }
      }
    }
  }
}

.inactive {
  color: #999;
  text-decoration: line-through;
}

mat-checkbox {
  --mat-checkbox-disabled-label-color: --mat-checkbox-label-text-color;
}
