mat-dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-top: 50px;

    line-height: var(--mdc-dialog-subhead-line-height, 14px);
    font-size: var(--mdc-dialog-subhead-size, 14px);
    font-weight: var(--mdc-dialog-subhead-weight, 500);
    letter-spacing: var(--mdc-dialog-subhead-tracking, 1px);
  }

  .counter {
    font-size: 96px;
    font-weight: 300;
    line-height: 96px;
    font-family: Roboto, sans-serif;
    letter-spacing: -.015625em;
    margin: 0 0 56px;
  }
}
