@if (round().warnings) {
  <div class="warning-container">
  @for (warning of round().warnings; track warning) {
    <div class="warning-row">
      <mat-icon style="color: #ffa700;">warning</mat-icon>
      {{warning}}
    </div>
  }
  </div>
}
<hop-event-list
  [context]="Context.Round"
  [players]="attendees()"
  [selectedPlayers]="round().finalists"
  [events]="round().events"
  [disabled]="disabled()"
  (onSelectionChange)="handleSelectionChange($event)"
  (onEventAdd)="handleEventAdd($event)"
  (onEventRemove)="handleEventRemove($event)"
></hop-event-list>

@if (!disabled()) {
  <div class="edit-round-buttons">
    <button mat-stroked-button hopResponsiveButton (click)="openEditAttendanceDialog()">
      <mat-icon>people</mat-icon>
      Teilnahmen anpassen
    </button>
    <button mat-stroked-button hopResponsiveButton class="danger" (click)="removeRound()" [loading]="!!('remove-round-' + round().id | isLoading | async)">
      <mat-icon>delete</mat-icon>
      Runde löschen
    </button>
  </div>
}

<hop-info-box *hopHasPermission="Permission.READ_DEBUGGING_INFO" [message]="round().id"></hop-info-box>
