@use 'sass:color';

$gold: #f7d638;
$silver: #c7d6eb;
$bronze: #eda35f;

:host {
  z-index: 1;
  display: flex;
}

.badge-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;

  .medal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border-radius: 50%;
    font-weight: bold;

    &.gold {
      background: $gold;
      color: color.adjust($gold, $lightness: -20%);
      border: 2px solid color.adjust($gold, $lightness: -20%);
      box-shadow: 0 0 5px 1px $gold;
    }

    &.silver {
      background: $silver;
      color: color.adjust($silver, $lightness: -30%);
      border: 2px solid color.adjust($silver, $lightness: -30%);
    }

    &.bronze {
      background: $bronze;
      color: color.adjust($bronze, $lightness: -30%);
      border: 2px solid color.adjust($bronze, $lightness: -30%);
    }
  }
}

.tendency {
  display: inline-flex;
  align-items: center;
  font-weight: bold;

  mat-icon {
    width: 20px;
    height: 20px;
    font-size: 20px;
    padding-left: 5px;
  }

  &.eq {
    color: #989898;
  }
  &.up {
    color: #34a134;
  }
  &.down {
    color: #c11c1c;
  }
}
