@use '../streak-chart/chart-theme' as chartTheme;

form {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 10px 0;
}

.streak-container {
  padding: 5px 0;
}

.rank-with-name {
  display: flex;
  justify-content: start;
  align-items: center;

  hop-rank {
    padding-right: 5px;
  }
}
