.game-info-container {
  display: flex;
  margin-bottom: 10px;

  .game-info-item {
    display: flex;
    align-items: center;

    &:not(:last-of-type):after {
      content: "•";
      padding: 0 10px;
    }
  }

  button {
    margin-left: 10px;
  }
}

.game-bottom-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-top: 10px;

  button.new-round {
    margin-left: 15px;
  }

  button.complete-game {
    margin-top: 10px;
  }
}

mat-stepper {
  max-width: 900px;
}

.round-marker-list {
  mat-icon:not(:first-child) {
    padding-left: 10px;
  }
}

.penalty-sum-container {
  text-align: right;
}
