as-split {
  position: absolute;
  top: 0;
  left: 0;

  as-split-area > :first-child {
    padding: 16px;
  }
}

.game-container {
  max-width: 900px;
}

.game-info-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  .game-info-block {
    display: flex;
    align-items: center;
    flex-flow: wrap;
    gap: 5px;

    .game-info-item {
      display: flex;
      align-items: center;
    }
  }
}

.game-bottom-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-top: 10px;

  button.new-round {
    margin-left: 15px;
  }

  button.complete-game, button.publish-penalties {
    margin-top: 10px;
  }
}

//mat-stepper {
//  max-width: 900px;
//}

.round-marker-list {
  mat-icon:not(:first-child) {
    padding-left: 10px;
  }
}

.penalty-sum-container {
  text-align: right;
}
