<div class="card-grid">
  <hop-stats-card [loading]="schockAusStreakLoading()" infoText="aufeinanderfolgende Runden mit mind. 1x Schock-Aus">
    @let saStreak = schockAusStreak();

    <ng-template #value>
      @if (saStreak) {
        <hop-odometer [countTo]="saStreak.maxStreak"></hop-odometer>
      } @else if (!schockAusStreakLoading()) {
        <span class="odometer-placeholder">?</span>
      }
    </ng-template>
    <ng-template #description>
      <span>Schock-Aus in Folge</span>
    </ng-template>
    <ng-template #details>
      @if (saStreak) {
        am <a [href]="'game/' + saStreak.gameId">{{saStreak.datetime | date:'dd.MM.yyyy'}}</a>
      }
    </ng-template>
  </hop-stats-card>

  @for (record of recordsPerGame(); track record.eventTypeId) {
    @if (record.records.length > 0) {
      <hop-stats-card [loading]="recordsPerGameLoading()">
        @let firstRecordItem = record.records[0];

        <ng-template #value>
          <hop-odometer [countTo]="firstRecordItem.count"></hop-odometer>
        </ng-template>
        <ng-template #description>
          <span>{{record.description}}</span>
        </ng-template>
        <ng-template #details>
          @if (record.records.length === 1) {
            von <span [hopCurrentUser]="firstRecordItem.playerId">{{ firstRecordItem.name }}</span> am <a [href]="'game/' + firstRecordItem.gameId">{{firstRecordItem.datetime | date:'dd.MM.yyyy'}}</a>
          } @else {
            <hop-carousel>
              @for (item of record.records; track item) {
                <ng-template #carouselItem>
                  von <span [hopCurrentUser]="item.playerId">{{item.name}}</span> am <a [href]="'game/' + item.gameId">{{item.datetime | date:'dd.MM.yyyy'}}</a>
                </ng-template>
              }
            </hop-carousel>
          }
        </ng-template>
      </hop-stats-card>
    }
  }

  <hop-stats-card [loading]="maxRoundsPerGameLoading()">
    @let maxRounds = maxRoundsPerGame();
    @let maxRoundCount = maxRounds?.roundCount;

    <ng-template #value>
      @if (maxRoundCount) {
        <hop-odometer [countTo]="maxRoundCount"></hop-odometer>
      } @else if (!maxRoundsPerGameLoading()) {
        <span class="odometer-placeholder">?</span>
      }
    </ng-template>
    <ng-template #description>
      <span>Die meisten Runden</span>
    </ng-template>
    <ng-template #details>
      @if (maxRounds) {
        am <a [href]="'game/' + maxRounds.id">{{maxRounds.datetime | date:'dd.MM.yyyy'}}</a>
      }
    </ng-template>
  </hop-stats-card>

  <hop-stats-card [loading]="mostExpensiveGameAndRoundLoading()" infoText="Feststellungen und Rundenstrafen">
    @let mostExpensiveGame = mostExpensiveGameAndRound()?.mostExpensiveGame;
    @let mostExpensiveGameValue = mostExpensiveGame?.sum ?? undefined;

    <ng-template #value>
      @if (mostExpensiveGameValue) {
        <hop-odometer [countTo]="mostExpensiveGameValue" type="currency"></hop-odometer>
      } @else if (!mostExpensiveGameAndRoundLoading()) {
        <span class="odometer-placeholder">?</span>
      }
    </ng-template>
    <ng-template #description>
      <span>Teuerstes Spiel</span>
    </ng-template>
    <ng-template #details>
      @if (mostExpensiveGame) {
        am <a [href]="'game/' + mostExpensiveGame.id">{{mostExpensiveGame.datetime | date:'dd.MM.yyyy'}}</a>
      }
    </ng-template>
  </hop-stats-card>

  <hop-stats-card [loading]="mostExpensiveGameAndRoundLoading()">
    @let mostExpensiveRound = mostExpensiveGameAndRound()?.mostExpensiveRound;
    @let mostExpensiveRoundCount = mostExpensiveRound?.sum ?? undefined;

    <ng-template #value>
      @if (mostExpensiveRoundCount) {
        <hop-odometer [countTo]="mostExpensiveRoundCount" type="currency"></hop-odometer>
      } @else if (!mostExpensiveGameAndRoundLoading()) {
        <span class="odometer-placeholder">?</span>
      }
    </ng-template>
    <ng-template #description>
      <span>Teuerste Runde</span>
    </ng-template>
    <ng-template #details>
      @if (mostExpensiveRound) {
        am <a [href]="'game/' + mostExpensiveRound.gameId + '?roundId=' + mostExpensiveRound.roundId">{{mostExpensiveRound.datetime | date:'dd.MM.yyyy'}}</a>
      }
    </ng-template>
  </hop-stats-card>

  <hop-stats-card [loading]="mostExpensiveGameAndRoundLoading()">
    @let mostExpensiveRoundAveragePerGame = mostExpensiveGameAndRound()?.mostExpensiveRoundAveragePerGame;
    @let mostExpensiveRoundAveragePerGameCount = mostExpensiveRoundAveragePerGame?.roundAverage ?? undefined;

    <ng-template #value>
      @if (mostExpensiveRoundAveragePerGameCount) {
        <hop-odometer [countTo]="mostExpensiveRoundAveragePerGameCount" type="currency" [showAverage]="true"></hop-odometer>
      } @else if (!mostExpensiveGameAndRoundLoading()) {
        <span class="odometer-placeholder">?</span>
      }
    </ng-template>
    <ng-template #description>
      <span>Maximaler Rundenschnitt</span>
    </ng-template>
    <ng-template #details>
      @if (mostExpensiveRoundAveragePerGame) {
        am <a [href]="'game/' + mostExpensiveRoundAveragePerGame.id">{{mostExpensiveRoundAveragePerGame.datetime | date:'dd.MM.yyyy'}}</a>
      }
    </ng-template>
  </hop-stats-card>

  <hop-stats-card [loading]="minGamePointsLoading()">
    @let minGamePointsItems = minGamePoints();
    @let minGamePointsFirstItem = minGamePointsItems && minGamePointsItems.length ? minGamePointsItems![0] : undefined;
    @let minGamePointsCount = minGamePointsItems && minGamePointsItems.length ? minGamePointsItems![0].count : undefined;

    <ng-template #value>
      @if (minGamePointsCount) {
        <hop-odometer [countTo]="minGamePointsCount"></hop-odometer>
      } @else if (!minGamePointsLoading()) {
        <span class="odometer-placeholder">?</span>
      }
    </ng-template>
    <ng-template #description>
      <span>Die wenigsten Spielpunkte</span>
    </ng-template>
    <ng-template #details>
      @if (minGamePointsItems && minGamePointsItems.length === 1) {
        von <span [hopCurrentUser]="minGamePointsFirstItem!.playerId">{{ minGamePointsFirstItem!.name }}</span> am <a [href]="'game/' + minGamePointsFirstItem!.gameId">{{minGamePointsFirstItem!.datetime | date:'dd.MM.yyyy'}}</a>
      } @else {
        <hop-carousel>
          @for (item of minGamePointsItems; track item) {
            <ng-template #carouselItem>
              von <span [hopCurrentUser]="item.playerId">{{item.name}}</span> am <a [href]="'game/' + item.gameId">{{item.datetime | date:'dd.MM.yyyy'}}</a>
            </ng-template>
          }
        </hop-carousel>
      }
    </ng-template>
  </hop-stats-card>

  <hop-stats-card [loading]="maxGamePointsLoading()">
    @let maxGamePointsItems = maxGamePoints();
    @let maxGamePointsFirstItem = maxGamePointsItems && maxGamePointsItems.length ? maxGamePointsItems![0] : undefined;
    @let maxGamePointsCount = maxGamePointsItems && maxGamePointsItems.length ? maxGamePointsItems![0].count : undefined;

    <ng-template #value>
      @if (maxGamePointsCount) {
        <hop-odometer [countTo]="maxGamePointsCount"></hop-odometer>
      } @else if (!maxGamePointsLoading()) {
        <span class="odometer-placeholder">?</span>
      }
    </ng-template>
    <ng-template #description>
      <span>Die meisten Spielpunkte</span>
    </ng-template>
    <ng-template #details>
      @if (maxGamePointsItems && maxGamePointsItems.length === 1) {
        von <span [hopCurrentUser]="maxGamePointsFirstItem!.playerId">{{ maxGamePointsFirstItem!.name }}</span> am <a [href]="'game/' + maxGamePointsFirstItem!.gameId">{{maxGamePointsFirstItem!.datetime | date:'dd.MM.yyyy'}}</a>
      } @else {
        <hop-carousel>
          @for (item of maxGamePointsItems; track item) {
            <ng-template #carouselItem>
              von <span [hopCurrentUser]="item.playerId">{{item.name}}</span> am <a [href]="'game/' + item.gameId">{{item.datetime | date:'dd.MM.yyyy'}}</a>
            </ng-template>
          }
        </hop-carousel>
      }
    </ng-template>
  </hop-stats-card>
</div>
