@use 'sass:map';
@use '@angular/material' as mat;

@mixin gradient-striped($color: rgba(255,255,255,.15), $angle: 45deg) {
  background-image: linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
}

@keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}

@mixin animation($animation) {
  animation: $animation;
}

@mixin color($theme) {
  .bar {
    &.personal-streak {
      background-color: #caefa8;
    }

    &.current-streak {
      background-color: mat.get-theme-color($theme, primary);

      &.shine {
        box-shadow: 0 0 10px 3px mat.get-theme-color($theme, primary, 90);
      }
    }
  }
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }
}
