@use '@angular/material' as mat;

@import './chart-theme';

.grid {
  display: grid;
  grid-template-columns: max-content auto max-content;

  & > div {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 4px;
  }

  & > .rank-with-name {
    hop-rank {
      padding-right: 5px;
    }
  }

  & > .odometer {
    justify-content: end;
  }
}

.bar-container {
  position: relative;
  width: 100%;

  .outer-bar {
    height: 20px;
  }

  .inner-bar {
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;

    @include animation(progress-bar-stripes 2s linear infinite);
    @include gradient-striped;
    background-size: 40px 40px;
  }
}
