@if (!streaks() || streaks().length === 0) {
  Keine Statistiken vorhanden.
} @else {
  <div class="grid">
    @for (streak of streaks(); track streak.playerId) {
      @let outerWidth = (streak.maxStreak / overallMaxStreak()) * 100;
      @let innerWidth = (streak.currentStreak / streak.maxStreak) * outerWidth;
      <div class="rank-with-name">
        <hop-rank [rank]="streak.rank"></hop-rank>
        <span [hopCurrentUser]="streak.playerId">{{streak.name}}</span>
      </div>
      <div>
        @if (outerWidth > 0) {
          <div class="bar-container">
            <div
              class="outer-bar"
              [style.width.%]="outerWidth"
            ></div>
            <div
              class="inner-bar"
              [class.shine]="streak.isCurrent"
              [style.width.%]="innerWidth"
              [matTooltip]="streak.currentStreak.toString()"
            >
            </div>
          </div>
        }
      </div>
      <div class="odometer">
        <hop-odometer [countTo]="streak.maxStreak"></hop-odometer>
        @if (streak.lastRoundIdOfStreak && streak.gameId) {
          (<a [href]="'game/' + streak.gameId + '?roundId=' + streak.lastRoundIdOfStreak">{{streak.datetime | date:'MM/yyyy'}}</a>)
        }
      </div>
    }
  </div>
}
