@if (data() && data()!.pointsPerGame.length > 0) {
  <div class="help-button-row">
    <button mat-button (click)="showHelpDialog()">
      <mat-icon>help</mat-icon>
      Wie funktioniert die Punktevergabe?
    </button>
  </div>

  <ng-template #helpText>
    <p>Für jedes Spiel werden folgende Punkte vergeben:</p>
    <ul>
      <li>
        <strong>1. Platz:</strong>
        7 Punkte
      </li>
      <li>
        <strong>2. Platz:</strong>
        5 Punkte
      </li>
      <li>
        <strong>3. Platz:</strong>
        4 Punkte
      </li>
      <li>
        <strong>4. Platz:</strong>
        3 Punkte
      </li>
      <li>
        <strong>5. Platz:</strong>
        2 Punkte
      </li>
      <li>
        <strong>ab 6. Platz:</strong>
        1 Punkt
      </li>
      <li>
        <strong>keine Teilnahme:</strong>
        0 Punkte
      </li>
    </ul>
    <p>Sollte es vorkommen, dass sich mehrere Spieler den selben Platz teilen, erhält jeder dieser Spieler die entsprechende Punktzahl.</p>
    <p>Die o.g. Rangliste ergibt sich aus den erspielten Spielpunkten. Diese setzen sich aus 3 Bestandteilen zusammen:</p>
    <ul>
      <li>
        <strong>Rundenpkt.:</strong>
        <ul>
          <li>0 Rundenpunkte für den Verlierer einer Runde</li>
          <li>1 Rundenpunkt für alle anderen Spieler, die im Finale waren bzw. eine Schock-Aus-Strafe erhielten</li>
          <li>3 Rundenpunkte für alle anderen Spieler, die nicht im Finale waren bzw. einen Schock-Aus würfelten</li>
        </ul>
      </li>
      <li>
        <strong>Bonuspkt.:</strong>
        <ul>
          <li>1 Bonuspunkt pro Schock-Aus</li>
        </ul>
      </li>
      <li>
        <strong>Strafpkt.:</strong>
        <ul>
          <li>1 Strafpunkt pro Niederlage</li>
          <li>1 Strafpunkt pro 2-2-1</li>
          <li>3 Strafpunkte pro Lustwurf</li>
        </ul>
      </li>
    </ul>
    <p>
      Die Spielpunkte berechnen sich dann wie folgt:
      <br/>
      <i>Spielpunkte = Rundenpkt. + Bonuspkt. - Strafpkt.</i>
    </p>
    <p>
      Die Rangliste ergibt sich anhand folgender Kriterien in der angegebenen Reihenfolge:
      <br/>
      <i>mehr Spielpunkte, mehr Rundenpunkte, mehr Bonuspunkte, weniger Strafpunkte</i>
    </p>
    <p>Sollte es dennoch zu einer Punktgleichheit kommen, teilen sich die jeweiligen Spieler die Platzierung.</p>
  </ng-template>

  <div class="control-elements">
    <div>
      <hop-game-selector
        [games]="gamesWithId()"
        (onSelectionChange)="onSelectionChanged($event)"
      >
        <ng-template #optionLabel let-game>
          {{ game.datetime | date:'dd.MM.yyyy' }}
        </ng-template>
      </hop-game-selector>
    </div>
    <div>
      <mat-slide-toggle [formControl]="showExpandedColums">Detailansicht</mat-slide-toggle>
    </div>
  </div>

  <!-- TODO: REFACTOR ME -->
  @if (info()) {
    <h2>Punkte am {{info()!.datetime | date:'dd.MM.yyyy'}}</h2>
    <hop-points-table [data]="info()!.points || []" [loading]="loading()" [isExpanded]="!!showExpandedColums.value"></hop-points-table>

    <h2>Punkte vom {{info()!.datetimeOfFirstGame | date:'dd.MM.yyyy'}} bis {{info()!.datetime | date:'dd.MM.yyyy'}}</h2>
    <hop-points-table [data]="info()?.accumulatedPoints || []" [loading]="loading()" [isExpanded]="!!showExpandedColums.value"></hop-points-table>
  }
} @else if (!loading()) {
  <p class="no-data">Es gibt keine Daten für die ausgewählten Filter.</p>
}
