<div class="card-grid">
  <hop-stats-card [loading]="gamesAndRoundsLoading()">
    @let countGames = gamesAndRoundsData()?.countGames;
    @let countGamesValue = countGames?.count ?? undefined;

    <ng-template #value>
      @if (countGamesValue) {
        <hop-odometer [countTo]="countGamesValue"></hop-odometer>
      } @else if (!gamesAndRoundsLoading()) {
        <span class="odometer-placeholder">?</span>
      }
    </ng-template>
    <ng-template #description>
      <span>Spiele</span>
    </ng-template>
  </hop-stats-card>

  <hop-stats-card [loading]="gamesAndRoundsLoading()">
    @let countRounds = gamesAndRoundsData()?.countRounds;
    @let countRoundsValue = countRounds?.count ?? undefined;

    <ng-template #value>
      @if (countRoundsValue) {
        <hop-odometer [countTo]="countRoundsValue"></hop-odometer>
      } @else if (!gamesAndRoundsLoading()) {
        <span class="odometer-placeholder">?</span>
      }
    </ng-template>
    <ng-template #description>
      <span>Runden</span>
    </ng-template>
  </hop-stats-card>

  <hop-stats-card [loading]="gamesAndRoundsLoading()">
    @let averageRoundsPerGame = gamesAndRoundsData()?.averageRoundsPerGame;
    @let averageRoundsPerGameCount = averageRoundsPerGame?.count ?? undefined;

    <ng-template #value>
      @if (averageRoundsPerGameCount) {
        <hop-odometer [countTo]="averageRoundsPerGameCount" [precision]="1" type="number" [showAverage]="true"></hop-odometer>
      } @else if (!gamesAndRoundsLoading()) {
        <span class="odometer-placeholder">?</span>
      }
    </ng-template>
    <ng-template #description>
      <span>Runden pro Spiel</span>
    </ng-template>
  </hop-stats-card>

  <hop-stats-card [loading]="penaltyLoading()">
    @let euroPerGame = penaltyData()?.euroPerGame;
    @let euroPerGameCount = euroPerGame?.count ?? undefined;

    <ng-template #value>
      @if (euroPerGameCount) {
        <hop-odometer [countTo]="euroPerGameCount" type="currency" [showAverage]="true"></hop-odometer>
      } @else if (!penaltyLoading()) {
        <span class="odometer-placeholder">?</span>
      }
    </ng-template>
    <ng-template #description>
      <span>Strafen pro Spiel</span>
    </ng-template>
  </hop-stats-card>

  <hop-stats-card [loading]="penaltyLoading()">
    @let euroPerRound = penaltyData()?.euroPerRound;
    @let euroPerRoundCount = euroPerRound?.count ?? undefined;

    <ng-template #value>
      @if (euroPerRoundCount) {
        <hop-odometer [countTo]="euroPerRoundCount" type="currency" [showAverage]="true"></hop-odometer>
      } @else if (!penaltyLoading()) {
        <span class="odometer-placeholder">?</span>
      }
    </ng-template>
    <ng-template #description>
      <span>Strafen pro Runde</span>
    </ng-template>
  </hop-stats-card>
</div>
