@if (data()) {
  <hop-stats-card [loading]="loading()">
    <ng-template #value>
      <hop-odometer [countTo]="data()!.countGames.count"></hop-odometer>
    </ng-template>
    <ng-template #description>
      <span>Spiele</span>
    </ng-template>
  </hop-stats-card>

  <hop-stats-card [loading]="loading()">
    <ng-template #value>
      <hop-odometer [countTo]="data()!.countRounds.count"></hop-odometer>
    </ng-template>
    <ng-template #description>
      <span>Runden</span>
    </ng-template>
  </hop-stats-card>

  <hop-stats-card [loading]="loading()">
    <ng-template #value>
      <hop-odometer [countTo]="data()!.averageRoundsPerGame.count" [precision]="1" type="average"></hop-odometer>
    </ng-template>
    <ng-template #description>
      <span>Runden pro Spiel</span>
    </ng-template>
  </hop-stats-card>
}
