<div class="carousel-container">
  @for (ref of templateRefs; track ref.elementRef; let idx = $index) {
    @if (idx === currentIndex) {
      <ng-container [ngTemplateOutlet]="ref"></ng-container>
    }
  }

  <div class="arrow-container">
    @if (currentIndex > 0) {
      <button mat-icon-button class="previous" (click)="currentIndex = currentIndex > 0 ? currentIndex - 1 : currentIndex">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
    }

    @if (currentIndex < templateRefs.length - 1) {
      <button mat-icon-button class="next" (click)="currentIndex = currentIndex < templateRefs.length - 1 ? currentIndex + 1 : currentIndex">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    }
  </div>

  <div class="dot-container">
    @for (ref of templateRefs; track ref.elementRef; let idx = $index) {
      <div
        class="dot"
        [class.active]="idx === currentIndex"
        (click)="currentIndex = idx"
      ></div>
    }
  </div>
</div>
