<h1>Hi, {{currentPlayerName}}!</h1>

<div class="parent">
  <div class="div1">
    <h2>Meine Strafen</h2>

    <div class="tile-content">
      <hop-penalty-summary></hop-penalty-summary>

      <hop-player-penalties-table
        [data]="paymentsByPlayer$ | async"
        [loading]="'payments' | isLoading | async"
      ></hop-player-penalties-table>
    </div>
  </div>
  <div class="div2">
    <h2>Meine Streaks</h2>

    @if ('streaks' | isLoading | async) {
      <mat-spinner diameter="30" strokeWidth="2"></mat-spinner>
    }

    <div class="tile-content">
      @if (streaks$ | async; as streaks) {
        Meine aktuellen Runden am Stück...
        @for (streak of streaks; track streak.label) {
          <hop-streak-chart [streaks]="streak.streaks">
            <ng-template #label>
              {{ streak.label }}
            </ng-template>
          </hop-streak-chart>
        }
      }
    </div>
  </div>
  <div class="div3">
    <h2>Meine Platzierung</h2>
    in Kürze
  </div>
  <div class="div4">
    <h2>Meine Badges</h2>
    in Kürze
  </div>
  <div class="div5">
    <h2>Meine Termine</h2>
    in Kürze
  </div>
</div>
