.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.toolbar {
  --mat-toolbar-container-background-color: #be00ca;
}

.is-mobile .toolbar {
  position: fixed;
  z-index: 2;
}

.sidenav-container {
  flex: 1;

  .inner-sidenav-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    mat-nav-list {
      overflow-y: auto;
    }

    .bottom-container {
      padding: 8px 16px;

      .btn-login {
        width: 100%;
      }

      .profile-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .profile-details {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;

          img {
            border-radius: 50%;
            width: 30px;
          }
        }
      }
    }
  }
}

.is-mobile .sidenav-container {
  flex: 1 0 auto;
}

.mat-drawer {
  --mat-sidenav-container-divider-color: #d7d7d7;
  --mat-sidenav-container-shape: 0px;
  --mat-sidenav-container-width: 250px;
}

.mat-drawer-container {
  --mat-sidenav-content-background-color: #fff;
}

.overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 130px;
}
