<div class="app-container" [class.is-mobile]="(isMobile$ | async) === true">
  <mat-toolbar class="toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Die Hoptimisten</span>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="(isMobile$ | async) === true ? 56 : 0">
    <mat-sidenav #snav [mode]="(isMobile$ | async) === true ? 'over' : 'side'" [fixedInViewport]="(isMobile$ | async) === true" fixedTopGap="56">
      <mat-nav-list>
        @for (item of navigationItems; track item.label) {
          <hop-menu-item [item]="item"></hop-menu-item>
        }
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div style="padding: 16px">
        <ng-content></ng-content>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
