mat-expansion-panel {
  margin: 10px 0 !important;
}

mat-form-field {
  &.full-width {
    width: 100%;
  }

  &.half-width {
    width: 50%;
  }
}

.penalty-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
