@switch (unit()) {
  @case (PenaltyUnit.Euro) {
    <span>
      @if (typeof penalty() === 'undefined') {
        €
      } @else {
        {{penalty() | currency}}
      }
      @if (multiplicatorUnit()) {
        pro {{multiplicatorUnit()}}
      }
    </span>
  }
  @case (PenaltyUnit.BeerCrate) {
    <span>
      @if (typeof penalty() === 'undefined') {
        Bierkiste(n)
      } @else {
        @if (penalty() === 1 || penalty() === -1) {
          {{penalty()}} Bierkiste
        } @else {
          {{penalty()}} Bierkisten
        }
      }
      @if (multiplicatorUnit()) {
        pro {{multiplicatorUnit()}}
      }
    </span>
  }
  @default {
    <span>
      {{penalty()}} {{unit()}}
      @if (multiplicatorUnit()) {
        pro {{multiplicatorUnit()}}
      }
    </span>
  }
}
