// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
@use './m3-theme' as schockenTheme;

@use './app/statistics/streak-chart/chart-theme' as chartTheme;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
//$schocken-frontend-theme: mat.define-theme((
//  color: (
//    theme-type: light,
//    primary: mat.$green-palette,
//    tertiary: mat.$blue-palette,
//  ),
//  density: (
//    scale: 0,
//  )
//));
$schocken-frontend-theme: schockenTheme.$light-theme;

@include chartTheme.color($schocken-frontend-theme);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-typographies();

:root {
  @include mat.all-component-themes($schocken-frontend-theme);

  .secondary-slide-toggle {
    @include mat.slide-toggle-color($schocken-frontend-theme, $color-variant: secondary);
  }

  .secondary-slide-toggle {
    @include mat.checkbox-color($schocken-frontend-theme, $color-variant: secondary);
  }

  .hop-icon-button {
    &.primary {
      --mdc-icon-button-icon-color: #{mat.get-theme-color($schocken-frontend-theme, primary, 70)};
    }

    &.danger {
      --mdc-icon-button-icon-color: #{mat.get-theme-color($schocken-frontend-theme, error, 40)};
    }
  }

  button {
    &.danger {
      @include mat.button-color($schocken-frontend-theme, $color-variant: error);
    }
  }

  .mat-toolbar {
    --mat-toolbar-container-text-color: #{mat.get-theme-color($schocken-frontend-theme, primary, 100)};
    --mat-toolbar-container-background-color: #{mat.get-theme-color($schocken-frontend-theme, primary)};
    --mdc-icon-button-icon-color: #{mat.get-theme-color($schocken-frontend-theme, primary, 100)};
  }

  .white-spinner {
    --mdc-circular-progress-active-indicator-color: #{mat.get-theme-color($schocken-frontend-theme, primary, 100)};
  }
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($schocken-frontend-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($schocken-frontend-theme);
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a {
  color: mat.get-theme-color($schocken-frontend-theme, primary);
}

.info-text {
  color: #888;
}

.hop-fab-button {
  position: fixed !important;
  right: 35px;
  bottom: 35px;
  z-index: 1;
}

mat-form-field {
  &.full-width {
    width: 100%;
  }

  &.half-width {
    width: 50%;
  }
}

hop-game {
  .mat-step-label {
    width: 100%;

    .mat-step-text-label {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .mat-badge-content {
    --mat-badge-large-size-container-overlap-offset: -10px;
  }
}

.button-loading {
  mat-icon, .mdc-button__label {
    visibility: hidden;
  }

  mat-progress-spinner {
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
  }
}

.mobile-button {
  mat-icon {
    --mat-outlined-button-icon-spacing: 0;
    --mat-outlined-button-icon-offset: 0;
  }

  .mdc-button__label {
    display: none;
  }
}

.text-highlight {
  margin: 0 -0.4em;
  padding: 0.5em 0.4em;
  border-radius: 0.8em 0.3em;
  background: transparent;
  background-image: linear-gradient(to right, rgba(255, 225, 0, 0.1), rgba(255, 225, 0, 0.7) 4%, rgba(255, 225, 0, 0.3));
}
