<button mat-fab class="hop-fab-button" (click)="createNewGame()">
  <mat-icon>add</mat-icon>
</button>

@if (gameOverview$ | async; as overview) {
  <mat-accordion>
    @for (item of overview; track item) {
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>{{ item.year }}</mat-panel-title>
          <mat-panel-description>
            @if (item.games.length === 1) {
              <span>1 Spiel</span>
            } @else {
              <span>{{item.games.length}} Spiele</span>
            }
          </mat-panel-description>
        </mat-expansion-panel-header>
        @for (game of item.games; track game.id) {
          <div class="game-item-container">
            <div>
              <div>
                @if (!game.completed) {
                  <hop-live-indicator></hop-live-indicator>
                }
                <strong>{{ game.datetime | date:'dd.MM.yyyy' }}</strong>
                @if (game.place.type === 'HOME') {
                  <span>&nbsp;bei {{game.place.locationLabel}}</span>
                } @else if (game.place.type === 'AWAY') {
                  <span>&nbsp;auswärts ({{game.place.locationLabel}})</span>
                } @else {
                  <span>&nbsp;Remote</span>
                }
              </div>
              <div>
                @if (game.roundCount === 1) {
                  <span>1 Runde</span>
                } @else {
                  <span>{{game.roundCount}} Runden</span>
                }
                <span>&nbsp;•&nbsp;</span>
                @for (penalty of game.penalties; track penalty.unit; let idx = $index) {
                  @if (idx > 0) {
                    <span>/</span>
                  }
                  <hop-penalty-with-unit [penalty]="penalty.sum" [unit]="penalty.unit"></hop-penalty-with-unit>
                }
              </div>
            </div>
            <div class="game-action-button-container">
              <button mat-icon-button color="primary" [routerLink]="['/game', game.id]">
                <mat-icon>table_chart</mat-icon>
              </button>
            </div>
          </div>
        }

        @if (item.year === '2018') {
          <div class="game-item-container">
            <div>
              <div>
                <strong>05.10.2018</strong>
                <span>&nbsp;bei Tobias</span>
              </div>
              <div>ohne Wertung</div>
            </div>
            <div class="game-action-button-container">
              <button mat-icon-button color="primary" disabled>
                <mat-icon>table_chart</mat-icon>
              </button>
            </div>
          </div>

          <div class="game-item-container">
            <div>
              <div>
                <strong>14.09.2018</strong>
                <span>&nbsp;bei Christian</span>
              </div>
              <div>ohne Wertung</div>
            </div>
            <div class="game-action-button-container">
              <button mat-icon-button color="primary" disabled>
                <mat-icon>table_chart</mat-icon>
              </button>
            </div>
          </div>
        }
      </mat-expansion-panel>
    }
  </mat-accordion>
}
