mat-accordion {
  display: block;
  max-width: 600px;
}

mat-panel-description {
  font-size: 12px;

  & > div:not(:last-of-type):after {
    content: "•";
    padding: 0 10px;
  }
}

mat-list-item {
  height: 64px !important;
}

.game-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;

  .game-detail-info-container {
    display: flex;
    align-items: center;
    font-size: 14px;

    .game-detail-info-item {
      &:not(:last-of-type):after {
        content: "•";
        padding: 0 10px;
      }
    }
  }
}
