mat-accordion {
  display: block;
  max-width: 600px;
}

.game-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;

  .game-action-button-container {
    button {
      margin-left: 5px;
    }
  }
}
