.form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin: 15px 0;

  .form-row {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  button.no-text-button mat-icon {
    --mat-outlined-button-icon-spacing: 0;
    --mat-outlined-button-icon-offset: 0;
  }
}
