@let isMobile = isMobile$ | async;

<form [formGroup]="filterForm">
  <mat-form-field subscriptSizing="dynamic">
    <mat-label>Zeitraum auswählen</mat-label>
    <mat-date-range-input [rangePicker]="picker" [min]="minDate$ | async" [max]="maxDate$ | async">
      <input matStartDate formControlName="fromDate" placeholder="TT.MM.JJJJ">
      <input matEndDate formControlName="toDate" placeholder="TT.MM.JJJJ">
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker [dateClass]="(dateClass$ | async)!"></mat-date-range-picker>
  </mat-form-field>

  <button mat-button color="primary" class="quick-filter" [matMenuTriggerFor]="quickfilterDatesMenu" [disabled]="'filter-form' | isLoading | async">
    @if (isMobile) {
      <span>
        <mat-icon>filter_alt</mat-icon>
      </span>
    } @else {
      <span>Schnellfilter</span>
    }
    <mat-icon>expand_more</mat-icon>
  </button>
  <mat-menu #quickfilterDatesMenu="matMenu">
    <button mat-menu-item (click)="resetDateRange()">Gesamt</button>
    <button mat-menu-item (click)="setDateRangeForLatestGame()">Letztes Spiel</button>
    @for (year of years$ | async; track year) {
      <button mat-menu-item (click)="applyYearToFilter(year)">{{year}}</button>
    }
  </mat-menu>

  <mat-checkbox formControlName="onlyActivePlayers">nur aktive Spieler</mat-checkbox>
</form>

<mat-tab-group mat-stretch-tabs="true" (selectedTabChange)="handleTabChange($event)" #outerTabGroup>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>casino</mat-icon>
      @if (!isMobile) {
        Spiele & Runden
      }
    </ng-template>
    <mat-tab-group mat-stretch-tabs="false" id="games-rounds" (selectedTabChange)="handleTabChange($event)" #innerTabGroup>
      <mat-tab label="Allgemein">
        <hop-game-and-rounds
          [gamesAndRoundsData]="gamesAndRoundsStatistics$ | async"
          [gamesAndRoundsLoading]="'games-and-rounds-statistics' | isLoading | async"
          [penaltyData]="euroPerGameAndRound$ | async"
          [penaltyLoading]="'penalty-statistics' | isLoading | async"
        ></hop-game-and-rounds>
      </mat-tab>
      <mat-tab label="Teilnahmen">
        <hop-attendance-table
          [data]="attendanceTable$ | async"
          [loading]="'attendance-statistics' | isLoading | async"
        ></hop-attendance-table>
        <hop-finals-attendance-table
          [data]="finalsTable$ | async"
          [loading]="'attendance-statistics' | isLoading | async"
        ></hop-finals-attendance-table>
      </mat-tab>
      <mat-tab label="Austragungsorte">
        <hop-host-table [data]="hostStatistics$ | async" [loading]="'host-statistics' | isLoading | async"></hop-host-table>
      </mat-tab>
    </mat-tab-group>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>emoji_events</mat-icon>
      @if (!isMobile) {
        Punkte
      }
    </ng-template>
    <hop-points [data]="pointsStatistics$ | async" [loading]="'points-statistics' | isLoading | async"></hop-points>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>star</mat-icon>
      @if (!isMobile) {
        Rekorde & Streaks
      }
    </ng-template>
    <mat-tab-group mat-stretch-tabs="false" id="records-streaks" (selectedTabChange)="handleTabChange($event)" #innerTabGroup>
      <mat-tab label="Spielübergreifend">
        <hop-streaks
          [data]="streakStatistics$ | async"
          [loading]="'streak-statistics' | isLoading | async"
        ></hop-streaks>
      </mat-tab>
      <mat-tab label="pro Spiel">
        <hop-records
          [recordsPerGame]="recordsPerGame$ | async"
          [recordsPerGameLoading]="'event-type-statistics' | isLoading | async"
          [maxRoundsPerGame]="maxRoundsPerGame$ | async"
          [maxRoundsPerGameLoading]="'games-and-rounds-statistics' | isLoading | async"
          [mostExpensiveGameAndRound]="mostExpensiveGameAndRound$ | async"
          [mostExpensiveGameAndRoundLoading]="'penalty-statistics' | isLoading | async"
          [minGamePoints]="minGamePoints$ | async"
          [minGamePointsLoading]="'points-statistics' | isLoading | async"
          [maxGamePoints]="maxGamePoints$ | async"
          [maxGamePointsLoading]="'points-statistics' | isLoading | async"
          [schockAusStreak]="schockAusStreak$ | async"
          [schockAusStreakLoading]="'streak-statistics' | isLoading | async"
        ></hop-records>
      </mat-tab>
    </mat-tab-group>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>euro</mat-icon>
      @if (!isMobile) {
        Kasse
      }
    </ng-template>
    <hop-penalty-sums [data]="penaltySums$ | async" [loading]="'penalty-statistics' | isLoading | async"></hop-penalty-sums>
    <hop-penalty-table [data]="penaltyByPlayerTable$ | async" [loading]="'penalty-statistics' | isLoading | async"></hop-penalty-table>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon svgIcon="schock_aus"></mat-icon>
      @if (!isMobile) {
        Ereignisse
      }
    </ng-template>
    <mat-tab-group mat-stretch-tabs="false" id="event-types" (selectedTabChange)="handleTabChange($event)" #innerTabGroup>
      <mat-tab label="Schock-Aus">
        <hop-schock-aus-effectivity-table [data]="schockAusEffectivityTable$ | async" [loading]="'event-type-statistics' | isLoading | async"></hop-schock-aus-effectivity-table>
      </mat-tab>
      <mat-tab label="pro Spieler">
        <hop-event-type-count-by-player
          [data]="eventTypeCountsByPlayer$ | async"
          [loading]="'event-type-counts-by-player-statistics' | isLoading | async"
          (onEventTypeChange)="handleEventTypeSelectionChange($event)"
        ></hop-event-type-count-by-player>
      </mat-tab>
      <mat-tab label="Anzahlen">
        <hop-event-type-count-table [data]="eventTypeCounts$ | async" [loading]="'event-type-statistics' | isLoading | async"></hop-event-type-count-table>
      </mat-tab>
    </mat-tab-group>
  </mat-tab>
</mat-tab-group>
