form {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  padding-bottom: 30px;

  button.quick-filter {
    margin-left: 10px;
  }
}

button.game-day {
  .mat-calendar-body-cell-content {
    border: 2px solid orange;
  }
}

mat-tab-body {
  padding-top: 10px;
}
