$cards-margin: 10px;

:host ::ng-deep hop-odometer {
  font-weight: 100;
  font-size: 50px;
  line-height: 50px;
}

mat-card {
  display: inline-flex;
  margin: $cards-margin;
  box-sizing: border-box;
  height: 180px;
  padding: 16px;
  min-width: 300px;
  overflow: hidden;
  vertical-align: top;

  .card-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    .description {
      font-size: 22px;
      padding-bottom: 10px;
    }

    .details {
      height: 25px;
      font-size: small;
    }
  }

  button.info {
    position: absolute;
    right: 5px;
    top: 5px;
  }
}
